@using System.Collections
@using Avito.Models
@{
    Layout = null;
    List<isCardType> l = new List<isCardType>();
    l.Add(new isCardType { Value = true });
    l.Add(new isCardType { Value = false });
    SelectList list = new SelectList(l, "Value", "Text");

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLabel</title>
</head>
<body>
    <div>
        @Html.ValidationSummary()
        <form action="@Url.Action("AddRecord", "Home")">
                
               Name: @Html.TextBox("Name", "gnu") <br />
                Phone: @Html.TextBox("PhoneNumber", "8123456789") <br />
                Address: @Html.TextBox("Address", "USSR") <br />
               Text: @Html.TextArea("Text", "Продам корову") <br />
               Оплата картой: @Html.DropDownList("isCard", list) <br />
            

            <input type="submit" value="Add" />
        </form>

        
        
    </div>
</body>
</html>
