@using Avito.Models
@model IEnumerable<Record>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetRecords</title>
</head>
<body>
    <div> 
        @foreach (var r in Model)
        {
            <p>
                Name: @r.Name <br />
                Phone: @r.PhoneNumber <br />
                Address: @r.Address <br />
                Text: @r.Text <br />
                Card: @r.isCard <br />
            </p>
        }
        @Html.ActionLink("Index", "Index")
    
    </div>
</body>
</html>
